*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 0.75rem;
}

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  background-color: hsl(30, 54%, 90%);
}

.list-header,
.secondary-heading,
.main-title {
  font-family: "Young Serif", sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

.container {
  width: 55%;
  margin: 8rem auto;
  border-radius: 0.75rem;
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
}

header,
main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header-text-box {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.header-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

header {
  margin-bottom: 1.25rem;
}

.ingredients-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.instructions-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

p,
li {
  color: hsl(24, 5%, 18%);
}

.header-list li {
  line-height: 2rem;
  padding-left: 1rem;
}

.ingredients-section li {
  line-height: 2rem;
  padding-left: 1rem;
}

.instructions-section li {
  line-height: 1.5rem;
  padding-left: 1rem;
}

.instructions-section ol {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ingredients-section {
  padding-bottom: 2rem;
  border-bottom: 1px solid hsla(14, 45%, 36%, 0.25);
}

.instructions-section {
  padding-bottom: 2rem;
  border-bottom: 1px solid hsla(14, 45%, 36%, 0.25);
}

p {
  line-height: 1.5rem;
}

ul,
ol {
  padding-left: 1.25rem;
}

.in-list-header {
  color: hsl(332, 51%, 32%);
}

.header-list {
  background-color: hsla(332, 100%, 50%, 0.05);
  border-radius: 0.75rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.secondary-heading {
  color: hsl(14, 45%, 36%);
}

.instructions-section li {
  padding-left: 1rem;
}

ol li::marker,
ul li::marker {
  font-weight: 600;
  color: hsl(14, 45%, 36%);
}

.nutrition-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.nutrition-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.5rem;
}

.nutrition-table p {
  border-bottom: 1px solid hsla(14, 45%, 36%, 0.25);
  color: hsl(14, 45%, 36%);
  font-weight: 500;
}
